
.editor-aid-editable-label {
    margin: 1px 3px 1px 1px;
}

.editor-aid-editable-label__text-field {
    margin: 0;
}

    .editor-aid-editable-label__text-field:disabled {
        opacity: 1;
    }

        .editor-aid-editable-label__text-field:disabled > .unity-text-field__input {
            background-color: transparent;
            border-color: transparent;
            color: var(--editor-aid-colors-label-text);
        }
